<form class="email-form-container">
    <h1 class="email-form-title">Send your email here!</h1>
    <div class="email-form-group1">
        <label for="name" class="email-form-label1">Name</label>
        <input type="text" id="name" name="name" class="email-form-input" required>
    </div>
    <div class="email-form-group2">
        <label for="email" class="email-form-label2">Email</label>
        <input type="email" id="email" name="email" class="email-form-input" required>
    </div>
    <div class="email-form-group3">
        <label for="message" class="email-form-label3">What is your question?</label>
        <input id="message" name="message" class="email-form-input" required></input>
    </div>
    <div class="email-form-group4">
        <button type="submit" class="email-form-button">Submit</button>
    </div>
</form>


